SonLVL INI Files/dllcache
SonLVL INI Files/SonLVL.log
*~

# Misc. compiler output.
s2.h
s2.p
s2.lst
s2.log
s2.map

# Built ROMs.
s2built.bin
s2built.prev.bin

# Automatically-generated music data.
sound/music/generated/*.inc
sound/music/generated/*.sax
sound/music/generated/hashes.lua

# Automatically-generated (D)PCM data.
sound/DAC/generated/*.inc
sound/DAC/generated/*.dpcm
sound/DAC/generated/hashes.lua
sound/PCM/generated/*.inc
sound/PCM/generated/*.pcm
sound/PCM/generated/hashes.lua

# Typical CMake build directory.
build_tools/source_code/build
